<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <h3>Log</h3>
      <ol>
        <li>Add log session</li>
        <li>Test with echo bot</li>
        <li>0.0.4 Add Webhooks log to Mongo DB Cloud Atlas</li>
      </ol>
    </p>
  </body>
</html>
