<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <h3>Log</h3>
      <ol>
        <li>0.0.1 Initial</li>
        <li>0.0.2 Add log session</li>
        <li>0.0.3 Test with echo bot</li>
        <li>0.0.4 Add Webhooks log to Mongo DB Cloud Atlas</li>
        <li>0.0.5 Restructure soruce code</li>
        <li>0.0.6 Add image response</li>
        <li>0.0.7 Change response utility from Object to Class</li>
        <li>0.0.8 Add confirm message</li>
        <li>0.0.9 Add button message</li>
      </ol>
    </p>
  </body>
</html>
